<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task schedule</title>
</head>
<body>
    monthly and weekly content
    <%= monthly_task  %>
    <%= weekly_task  %>
    <%= supportive_task  %>
</body>
</html>